body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  color:#e2e8f0;
}
h1{text-align:center;padding:15px 0;margin:0;}

.section{display:none;padding:15px 15px 100px;}

.card{
  background:#1e293b;
  padding:15px;
  margin:15px 0;
  border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,0.4);
}

input,select,button{
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:8px;
  border:none;
}

button{
  background:#3b82f6;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
button:hover{background:#2563eb;}

.expenseItem{
  background:#0f172a;
  padding:12px;
  margin:10px 0;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.expenseItem button{
  width:auto;
  padding:5px 10px;
  margin-top:5px;
  margin-right:5px;
  font-size:12px;
}

.bottomNav{
  position:fixed;
  bottom:0;
  width:100%;
  background:#111827;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  box-shadow:0 -3px 10px rgba(0,0,0,0.4);
}

.bottomNav button{
  background:none;
  color:#e2e8f0;
  font-size:14px;
}

.stat{margin:5px 0;font-size:14px;}